.timer {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    width: 100%;

    font-size: 25px;
    margin-block: 10px;
}

.timer button {
    margin: 5px;
    width: 120px;
    height: 50px;

    font-size: 18px;
    font-weight: bold;
    color: white;

    background-color: black;
    transition-duration: 1s;
}

.timer button:disabled {
    cursor: not-allowed;
    color: rgb(185, 22, 22);
    transition-duration: 1s;
}

