.challenge {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    width: 100%;

    font-size: 25px;
    margin-block: 10px;

}

.challenge button {
    font-size: 20px;
    margin-block: 12px;

    background: none;
    border: none;

    cursor: pointer;

    width: 160px;
    height: 50px;
}

.challenge > h3 {
    text-decoration: underline;
    font-style: italic;
}