.ColorSelection {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    width: 100%;

    font-size: 25px;
    margin-block: 10px;

}

.ColorSelection button {
    font-size: 20px;
    margin-block: 12px;

    background: none;
    border: none;

    cursor: pointer;

    width: 160px;
    height: 50px;
}

.colorSquare {
    border: 6px solid black;
    background-color: black;
    margin-top: 10px;

    width: 100px;
    height: 100px;

    transition-duration: 1s;
}
